.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6fbff;
}

.textbookTitle {
  font-family: "Roboto";
  font-size: 32px;
}

.paginationContainer {
  margin-bottom: 30px;
}

.progressCenter {
  display: flex;
  justify-content: center;
  position: relative;
}