.gameStartWrapper {
  background-size: cover;
  background: url(../../assets/audiocall.jpg) no-repeat center;
}
.audiocall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 90vh;
  width: 100%;
}

.startAudioPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(0,0%,100%,.4);
  padding: 30px;
  max-width: 650px;
  margin: auto;
  min-width: 300px;
  min-height: 350px;
  border-radius: 40px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.25),0 2px 4px 1px rgba(0,0,0,.2),0 4px 8px 2px rgba(0,0,0,.15),0 8px 16px 4px rgba(0,0,0,.1);
}

.text {
  text-align: center;
  font-size: 22px;
  margin-bottom: auto;
  p {
    padding-bottom: 30px;
  }
}
.title{
  margin-bottom: 30px;
  font-size: 34px;
}

.buttons {
  display: flex;
  align-items: center;
}
.startButton, .level {
  display: inline-block;
  background-color: #d69f58;//#26a69a;//#7752be;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-width: 100px;
  transition: all 0.5s ease;
  font-size: 20px;
  //text-transform: uppercase;
  border: 1px solid white;
  outline:none;
  transition: all 0.5s ease 0s;
}
.level {
  padding: 10px;
}
.startButton {
  margin-left: 15px;
  padding: 10px 24px;
}
.startButton:hover, 
.level:hover {
  //border: 1px solid white;
  transform: scale(1.1);
}