
.header {
  background: #ebebeb;
  color: gray;
	z-index: 50;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);;
}
.headerLogo {
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  color: gray;
}
.headerContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.headerMenu {
  width: 32px;
  height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(../../assets/svg/burger.svg);
  cursor: pointer;
}

.menuList { 
  list-style: none;
  padding: 0;
  & li {
    
  }
}

.menuLink {
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.03em;
  transition: color 0.3s ease 0s;

  display: flex;
  align-items: center;

  color: rgba(0,0,0,.67);
  font-size: 20px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  //font-size: 1rem;
  //line-height: 1.5;
  padding:10px 20px 10px 20px;
}

.menuLink:hover {
  background-color: rgba(0,0,0,.05);
}
.menuLink::before {
  content: "";
  margin-right: 15px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.menuLink1::before {
  background-image: url("../../assets/svg/home.svg");
}
.menuLink2::before {
  background-image: url("../../assets/svg/book.svg");
}
.menuLink3::before {
  background-image: url("../../assets/svg/dice.svg");
}
.menuLink4::before {
  background-image: url("../../assets/svg/stats-bars.svg");
}
.menuLink5::before {
  background-image: url("../../assets/svg/team.svg");
}

.sideBar {
  position: fixed;
  //width: 20%;
  width: 230px;
  height: 100%;
  top:0;
  left:-100%;
  overflow: auto;
  //padding: 0px 30px 30px 30px;
  background-color: #ebebeb;
  color: rgba(0, 0, 0, 0.87);
  transition:left 0.3s ease 0s;
  transition: all .5s ease;
  z-index: 100;
}

.sideBar_active {
  left:0;
}

.menuWrapper { 
  display: flex;
  flex-direction: column;
}
.menuImage {
  width: 50px;
  height: 50px;
  src: '../../assets/home.svg';
}

.buttonWrapper {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: flex-end;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.buttonClose {
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(../../assets/svg/arrow_back.svg);
  cursor: pointer;
}

.headerUser {
  display: flex;
  align-items: center;
}
.headerInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.headerEmail {
  font-size: 14px;
  line-height: 16px;
}
.headerLogout {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  svg {
    fill: rgba(0, 0, 0, 0.54);
    display: inline-block;
  }
}